/* DropdownSelect.css */
.select-container {
    margin-bottom: 20px;
    top: 150px;
    left: 40px;
  }
  
  h2{
    color: aliceblue;
  }

  .select-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .select-dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  .select-option {
    padding: 8px;
  }
  