/* TextInput.css */
.text-input-container {
    margin-bottom: 20px;
    justify-content: space-between;
    left: 300px;
    top: 140px; 
  }
  
  .input-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .input-field {
    padding: 8px;
    font-size: 16px;
    border: 10px solid #ccc;
    border-radius: 4px;
    width: 1150px;
  }
  