.user-input {
  display: flex;
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 20px;
  gap: 20px;
}

.btn--medium{
  display: none;
}

.category-input-container{
  margin-bottom: 20px;
}

.input-field-category {
  padding: 8px;
  font-size: 16px;
  border: 10px solid #ccc;
  border-radius: 4px;
  width: 550px;
}

.graph {
display: flex;
width: 90vw;
height: 50vh;
margin: 50px auto;
justify-items: center;
justify-content: center;
padding: 5px;
border: 5px solid #ccc;
border-radius: 50px;
background-color: rgba(10,20,30,0.6);
align-items: center;
}

/* DropdownSelect.css */
.select-container {
  margin-bottom: 20px;
  top: 150px;
  left: 40px;
}


p{
  color: aliceblue;
}

h2{
  color: aliceblue;
}

.select-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.select-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.select-option {
  padding: 8px;
}

/* TextInput.css */
.text-input-container {
  margin-bottom: 20px;
}

.input-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.input-field {
  padding: 8px;
  font-size: 16px;
  border: 10px solid #ccc;
  border-radius: 4px;
  width: 550px;
}
.sort-container {
  margin-bottom: 20px;
  top: 150px;
  left: 1510px;
}

h3 {
  margin-bottom: 8px;
  color: aliceblue;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  /* Tùy chỉnh các thuộc tính khác theo ý muốn */
}


.custom-button {
  padding: 20px 90px;
  font-size: 16px;
  border: none;
  background-color: #00ccffa1;
   border-radius: 10px;
   color: #fff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition effect for hover */
  top: 170px;
  left: 1770px;

}

.custom-button:hover {
  background-color: #712fffa1;
  border-radius: 90px;
  transition: 250ms;
  transition: all 0.5s ease-in-out; /* Change background color on hover */
}


.save_data_button {
  padding: 20px 90px;
  font-size: 16px;
  border: none;
  background-color: #00ccff;
   border-radius: 10px;
   color: #fff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition effect for hover */
  bottom: 30px;
  right: 30px;
  position: absolute;
}

table {
  width: 90vw;
  height: 50vh;
  color: aliceblue;
  font-size: 20px;
}

tr{
  height: 20%;
}

th {
  border-bottom: 1px solid wheat;
  /* border-right: 1px solid wheat; */
  width: 1%; 
}

td {
  text-align: center;
  align-items: center;
  /* border-right: 1px solid wheat; */

}