.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("/frontend/resource/images/bg_main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;

}
label{
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  cursor: pointer;
  color: rebeccapurple;
}
