body {
  background: url("./images/BG2.png") no-repeat center fixed;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.products,
.solutions,
.resources,
.enterprise,
.pricings,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.solutions {
  color: #fff;
  font-size: 100px;
}

.products {
  color: #fff;
  font-size: 100px;
}

.sign-up {
  color: #fff;
  font-size: 100px;
}

.resources {
  color: #fff;
  font-size: 100px;
}

.enterprise {
  color: #fff;
  font-size: 100px;
}

.pricings {
  color: #fff;
  font-size: 100px;
}

.sign-up {
  color: #fff;
  font-size: 100px;
}