.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  backgroundImage: `url(${/frontend/resource/images/bg_main.png})`,
  backgroundPosition: 'center',
  backgroundSize: 'cover',
  backgroundRepeat: 'no-repeat',
}

.auth-form-container, .login-form-container, .register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

