* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: #712fffa1;
  border-radius: 90px;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.5s ease-out;
  right: 0;
  top: 0;
  margin-right: 3rem;
  margin-top: 30px;
  position:fixed;
  display: flex;
  justify-content:center ;
  align-items: center;
  height: 60px;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 30px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.btn--primary:hover{
  transition: all 0.3s ease-out;
  transform: scale(1.1);
  background: #fff;
  color: #242424;
  transition: 250ms;

}

